.tasks-list-content {
    min-width: 320px !important;
    margin-right: 24px !important;
}

.tasks-list-content-over {
    background-color: rgba(0, 0, 0, 0.13);
}

.funnel-header .dropdown-menu {
    width: fit-content !important;
    padding: 0 !important;
}

.funnel-header-toolbar {
    display: none !important;
}
.funnel-header:hover .funnel-header-toolbar {
    display: flex !important;
}
.funnel-header-toolbar i,
.funnel-header-editing i {
    transform: scale(1.4);
}
.funnel-title-input {
    width: 60%;
}

.add-task-btn.light:hover {
    background-color: #fff;
}
.add-task-btn.dark:hover {
    background-color: #212529;
}
.w-color-sketch {
    background: transparent !important;
    border-radius: 4px;
    box-shadow: none !important;
    /* width: 218px; */
}
